*{
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}

.wrapper{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  
}

.wrapper .box{
  width: 300px;
  height: 430px;
  border-radius: 20px;
  padding: 8px;
  position: relative;
  margin-top: 20px;
  
}
.box h1{
  font-size: 27px;
  color: #333;
}

.box img{
  width: 100%;
  height: 270px;
  object-fit:contain;
}

.box .category{
  position: absolute;
  top: 10px;
  left: 0px;
  background-color: red;
  padding:3px 8px;
  border-radius: 8px;
  color: white;
  font-size: 11px;
}

.loading{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container .form{
  width: 300px;
  height: 300px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 10px;
}

.form input{
  width: 100%;
  height: 35px;
}
.form button{
  width: 100%;
  height: 35px;
}
.price{
  
  
}
.price_cover{
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 248, 38);

}
.box{
  display: flex;
  flex-direction: column;
  gap: 5px;
}